<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Taco Cloud</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>
    <h1>Design your taco!</h1>
    <img th:src="@{/images/tacosCloud.png}"/>

    <form method="POST" th:object="${taco}">

         <span class="validationError"
               th:if="${#fields.hasErrors('ingredients')}"
               th:errors="*{ingredients}">Ingredient Error</span>

        <div class="grid">
            <div th:each="ingredientType : ${ingredientTypes}">
                <div th:class="ingredient-group" th:id="${ingredientType}">
                    <h3>Designate your <span th:text="${ingredientType}">INGREDIENT</span> :</h3><br/>
                    <div th:each="ingredient : ${#request.getAttribute(ingredientType)}">
                        <input name="ingredients" type="checkbox" th:value="${ingredient.id}" />
                        <span th:text="${ingredient.name}">INGREDIENT</span><br/>
                    </div>
                </div>
            </div>
            <h3>Name your taco creation:</h3>
            <input type="text" th:field="*{name}"/>
            <span class="validationError"
                  th:if="${#fields.hasErrors('name')}"
                  th:errors="*{name}">Name Error</span>
            <br/>
            <br/>
            <button>Submit your taco</button>
        </div>
    </form>
</body>
</html>
